body{
    font-family: 'Montserrat', sans-serif;
    background-color: #071E3D;
    background-image: url("../images/body2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.container-fluid{
    position: absolute;
    top: 10%;
    left: 5%;
    max-width: 90%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

/* Menu */
.nav-item{
    margin: 80% 0 80% 0;
}

.menu-icon{
    color: #EEEEEE;
}

.menu-icon:hover {
    color: #00ADB5;
}

/* Photo Section */
.photo{
    background-image: url("../images/profile-img4.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 369px;
    padding: 0;
}

.name{
    font-weight: 900;
    font-size: 1.7rem;
    color:#EEEEEE;
    position: absolute;
    top: 70%;
    left:13%;
    letter-spacing: 0.2rem;
}

.job{
    font-weight: 700;
    font-size: 0.8rem;
    color:#00ADB5;
    position: absolute;
    top: 80%;
    left:8%;
    letter-spacing: 0.5rem;
}


/* Resume Section */
.resume{
    font-weight: 900;
    font-size: 2.7rem;
    color:#EEEEEE;
    letter-spacing: 0.2rem;
}
.stack{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 1rem;
    color:#00ADB5;
    letter-spacing: 0.2rem;
    margin-bottom: 2%;
}

hr{
    border-style: none;
    border-top-style: solid; 
    border-color: #EEEEEE;
    border-width: 1px;
}

.description{
    font-weight: 200;
    font-size: 1rem;
    color:#EEEEEE;
    line-height: 1.5;
}

/* own projects */

.title{
    font-weight: 700;
    font-size: 1.5rem;
    color:#EEEEEE;
    letter-spacing: 0.2rem;
    margin:3% 0 3% 0;

}

.name-projects{
    font-weight: 400;
    font-size: 0.8rem;
    color:#00ADB5;
    letter-spacing: 0.2rem;
}

.stack-app{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.6rem;
    color:#EEEEEE;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
    margin-top: 20px;
}


#own-projects{
    margin: 5% auto;
}
.own-description{
    font-weight: 200;
    font-size: 0.8rem;
    color:#EEEEEE;
    line-height: 1.5;
    margin: 20px 0;
}

/* .btn-git-icon{
    margin-left: 60%;
    display: inline;

} */



/* other projects */

.project-row{
    position: relative;
}


a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8rem;
}

a:hover{
    color:#00ADB5;
}

.btn-git-icon{
    position: absolute;
    right: 2%;
}



